@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #333;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #232323;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40738a;
}

#brand-name {
    text-decoration: none;  
    display: flex;
    font-size: 44px;
}

#brand-name h1 {
    line-height: 1.3em; 
    font-size: inherit;
}

#brand-name img {
    height: 2.2em;
    padding: 0.2em;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu ul {
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #40738a;
    border-bottom: 1px solid #40738a;
}
