@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

:root {
    --main-color: #1f4b56;
}

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 20px;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #232323;
}

/* Helper Classes */
.mt-2 {
    margin-top: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
}

.brand-name {
    text-decoration: none;
    display: flex;
    font-size: 34px;
}

.brand-name h1,
.brand-name h4 {
    line-height: 1.2em;
    font-size: inherit;
    white-space: nowrap;
}

.brand-name img {
    height: 2.05em;
    padding: 0.2em 0.2em 0.2em 0;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu ul {
    display: flex;
    gap: 30px;
    min-height: 75px;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

#menu a:hover, #menu a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.hero-section {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.hero-image-section {
    background: no-repeat bottom center;
    background-size: cover;
    height: 80vh;
}

#hero-video-section video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 65% 50%;
}

#hero-image-section-services {
    background-image: url(../images/fatty-corgi-EpRAM95thHU-unsplash.jpg);
}

section {
    margin: 75px 30px;
}

section h2 {
    font-size: 28px;
    text-align: center;
    border-bottom: 5px solid var(--main-color);
    width: max-content;
    padding: 0 10vw;
    margin: 0 auto 20px;
    letter-spacing: 2px;
}

section:hover h2 {
    color: var(--main-color);
}

.text-section p {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 3%;
}

.card {
    flex: 1;
    padding-bottom: 20px;

}

.card .circle-container {
    width: 70%;
    padding-bottom: 70%;
    border-radius: 50%;
    margin: 0 auto;
    background: no-repeat center center;
    background-size: cover;
}

#testimonial-1-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361739.jpg);
}

#testimonial-2-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3299905.jpg);
}

#testimonial-3-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361723.jpg);
}

#service-1-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361739.jpg);
}

#service-2-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3299905.jpg);
}

#service-3-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361723.jpg);
}

.card p {
    padding: 20px 5% 0;
}

.card-title {
    font-weight: bold;
}

.card-title i {
    font-size: 120%;
    padding-right: 10px;
    color: #3333334d;
}

.fa-quote-left {
    vertical-align: super;
}

#services-container {
    margin-top: 50px;
}

footer {
    background-color: var(--main-color);
    color: whitesmoke;
}

footer .brand-name {
    margin: 20px 0;
    font-size: 25px;
}

footer .brand-name img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(57deg) brightness(105%) contrast(105%);
}

#business-info-container {
    display: flex;
    flex-direction: column;
}

#business-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

#business-info p {
    padding: 2px;
}

#business-info i.fa-solid {
    padding-right: 10px;
    width: 20px;
}

#business-info .no-icon-indent {
    margin-left: 30px;
}

#map {
    flex: 1;
    min-height: 300px;
    background: url(../images/map.png) no-repeat center center;
    background-size: cover;
}

#social-media-links {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    gap: 25px;
}

#social-media-links a {
    color: whitesmoke;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.3em;
}

#copyright {
    text-align: center;
    padding-bottom: 10px;
}

/* extra small screens >=400 px and < 576px */
@media screen and (min-width: 400px) {
    #menu ul {
        flex-direction: row;
        margin: 0;
    }
}

/* small screens >= 576px and < 768px */
@media screen and (min-width: 576px) {
    .brand-name {
        font-size: 44px;
    }

    section h2 {
        font-size: 38px;
    }

    .card-container {
        margin: 20px 100px;
    }

    #social-media-links a {
        font-size: 2em;
    }
}

/* medium screens >= 768px and < 992px */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        margin: 10px 15px;
    }

    .card-container {
        margin: 0;
        flex-direction: row;
    }
}

/* large screens >= 992px and < 1200px */
@media screen and (min-width: 992px) {
    footer #business-info-container {
        flex-direction: row;
    }

    footer #business-info {
        width: 30%;
    }
}

/* extra large screens >= 1200px */
@media screen and (min-width: 1200px) {
    header {
        max-width: 1140px;
        margin: 10px auto;
    }

    section {
        max-width: 1140px;
        margin: 75px auto;
    }

    #business-info-container {
        max-width: 1140px;
        margin: 0 auto;
    }
}