@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

:root {
    --main-color: #1f4b56;
}

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 20px;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #232323;
}

/* Helper Classes */
.mt-2 {
    margin-top: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.brand-name {
    text-decoration: none;
    display: flex;
    font-size: 44px;
}

.brand-name h1,
.brand-name h4 {
    line-height: 1.3em;
    font-size: inherit;
}

.brand-name img {
    height: 2.2em;
    padding: 0.25em;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu ul {
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#hero-video-section video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#about-us-section {
    text-align: center;
    margin: 75px 0;
}

#about-us-section h2 {
    font-size: 38px;
}

#about-us-section p {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

#testimonials-section {
    display: flex;
}

.testimonial-card {
    flex: 1 1 0px;
}

.testimonial-card .circle-container {
    width: 70%;
    padding-bottom: 70%;
    border-radius: 50%;
    margin: 0 auto;
    background: no-repeat center center;
    background-size: cover;
}

#testimonial-1-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361739.jpg);
}

#testimonial-2-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3299905.jpg);
}

#testimonial-3-image {
    background-image: url(../images/pexels-goochie-poochie-grooming-3361723.jpg);
}

footer {
    background-color: var(--main-color);
    color: whitesmoke;
}

footer .brand-name {
    margin: 1em 0;
    font-size: 25px;
}

footer .brand-name img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(57deg) brightness(105%) contrast(105%);
}

#business-info-container {
    display: flex;
}

#business-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#business-info p {
    padding: 2px;
}

#business-info i.fa-solid {
    padding-right: 10px;
}

#business-info .no-icon-indent {
    margin-left: 25px;
}

#map {
    flex: 1;
}

#social-media-links {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

#social-media-links a {
    color: whitesmoke;
    padding: 10px;
    margin: 10px 35px;
    font-size: 2em;
}

#copyright {
    text-align: center;
    padding-bottom: 10px;
}